body{
    background-image: url(/assets/pexels-thatguycraig000-1546901.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    justify-content: center;
    
 
}

.abc{
    border: 1px solid ;
    border:none;
    width: 200px;
    height: 300px;
    background-color:lightblue;
    padding: 30px;
    float:right ;
    margin-right: 400px;
    margin-top: 60px;
    
}
img{
    height: 360px; 
    width: 260px;
    float: right;
    margin-top: 60px;
}

